.container {
  padding: 0;

  border-radius: 4px;
  color: black;
  font-weight: 500;
  font-size: 25px;
}

.container.active {
  color: orangered;
}

.list {
  display: flex;
  list-style-type: none;
  padding: 0px;
}

.link {
  padding: 8px 8px;
  border-radius: 4px;
  text-decoration: none;
  color: rebeccapurple;
  font-weight: 500;
  font-size: 35px;
  margin-left: 30px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 30px;
}

.link.active {
  color: orangered;
}
